<%
 	if current_user != nil 		
%>
<h1>Welcome to my Website, <%=current_user.email%>!</h1>
<%= link_to("Create a new post", new_user_post_path(current_user.id)) %>
</br>
<%= link_to("See all your posts", user_posts_path(current_user.id)) %>
</br>
<%= link_to("Logout", log_out_path()) %>
<%
	else		
%>
<h1>Returning? <%= link_to("Sign in", log_in_path()) %></h1>
<h2>or</h2>
<h1>New? <%= link_to("Sign up", new_user_path) %></h1>
<% end %>
